/* global styles */
img {
  max-width: 100%;
}

a:link {
  text-decoration: none;
}

a {
  color: inherit;
}

h1 {
  margin-bottom: 1.5em;
}
.body {
  color: rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
}

/* Header */
.header {
  width: 100%;
  background-color: rgb(240, 240, 240);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 15vh;
  color: #fff;
  background-color: #e9492e;
}

.logo {
  height: 100px;
  width: 100px;
  background-image: url('./images/logo.png');
  background-size: cover;
  background-position: center;
  margin-left: 2em;
  cursor: pointer;
}
.nav-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.list-item {
  margin-left: 1.5em;
}

.list-item:last-child {
  margin-right: 2em;
}
/* Hero section */
.hero {
  position: relative;
  height: 90vh;
  background-image: url('./images/flag.jpeg');
  background-size: cover;
  background-position: center center;
  background-blend-mode: difference;
  color: #fff;
}

.hero-wrapper {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5em;
}

.layer {
  background-color: rgba(140, 118, 118, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Jumbotron */
.jumbotron {
  padding: 3em 0;
  text-align: center;
  line-height: 1.2em;
  width: 100vw;
  background: rgb(205, 49, 22);
  background: linear-gradient(
    0deg,
    rgba(205, 49, 22, 1) 0%,
    rgba(235, 108, 69, 0.9556197478991597) 100%
  );
}

/* Content */
.content-container {
  /* background-color: #505253; */
  color: #505253;
}

.content-container-wrapper {
  width: 90%;
  margin: 0 auto;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
}

.content-text {
  width: 50%;
  max-width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-pic {
  width: 50%;
}

.content-history {
  padding-top: 2em;
}

.divider {
  opacity: 0.2;
  color: #e9492e;
}

.text-wrapper {
  line-height: 2em;
}

/* Motto */
.motto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #505253;
}

.motto h1 {
  margin-top: 2em;
}

.motto-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-row {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.content-row div {
  flex: 1 1 0;
  margin: 2em 2em;
  padding-top: 0em;
  padding-bottom: 4em;
  padding-left: 2em;
  padding-right: 2em;
  height: 300px;
  max-height: 400px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  transition: all 0.2s;
  border-radius: 5px;
  -webkit-box-shadow: 2px 6px 8px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 8px -6px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 6px 8px -6px rgba(0, 0, 0, 0.75);
}
.content-row div p {
  line-height: 1.4em;
}
.content-row div:hover {
  transform: scale(1.05);
}
.content-row h2 {
  text-align: center;
}

.respect {
  background-color: rgb(242, 107, 66);
}

.equality {
  background-color: darkcyan;
}

.union {
  background-color: darkmagenta;
}

.fun {
  background-color: green;
}

.non-profit {
  background-color: yellowgreen;
}

/* Dragon pic */
.dragon {
  height: 80vh;
  background-image: url('./images/dragon.png');
  background-attachment: fixed;

  background-repeat: no-repeat;
  background-size: cover;
}

/* Supporters */
.supporters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10em;
  background: #fff;
}
.supporter {
  flex: 1 1 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}

.vpea {
  background-image: url(./images/vpea.jpeg);
}

.telecom {
  background-image: url(./images/telecom.jpeg);
}

.rbc {
  background-image: url(./images/rbc.png);
}

/* Footer */
.footer {
  height: 300px;
  background-color: #e9492e;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.social {
  font-size: 2rem;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

.wechat img {
  height: 50px;
  width: 50px;
}

/* Media Query */

@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.3rem;
  }
  .body {
    font-size: 1rem;
  }
  .layer {
    display: none;
  }

  .content-row {
    display: block;
  }

  .content-row div {
    height: 200px;
  }
}
