// Varibles
$color--primary: #e9492e;
$color--background: #505253;
$color--font: rgb(240, 240, 240);

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
// Global Style Setting
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* font-size: 10px(1rem) */
  font-size: 62.5%;
  font-family: 'Noto Serif SC', serif;
}

body {
  box-sizing: border-box;
  color: $color--font;
  background-image: url('../images/dark_wall.png');
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1.2em;
}
h1 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: $color--font;
  outline: none;
}

a:hover,
a:focus {
  color: #ffffff;
  outline: none;
}
img {
  max-width: 100%;
}

// Nav
.navbar {
  z-index: 10000;
  position: fixed;
  top: 0;
  height: auto;
  width: 100%;
  background: -moz-linear-gradient(
    90deg,
    rgba(222, 221, 246, 1) 0%,
    rgba(233, 73, 46, 1) 50%,
    rgba(231, 162, 29, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(222, 221, 246, 1) 0%,
    rgba(233, 73, 46, 1) 50%,
    rgba(231, 162, 29, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(222, 221, 246, 1) 0%,
    rgba(233, 73, 46, 1) 50%,
    rgba(231, 162, 29, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#deddf6",endColorstr="#e7a21d",GradientType=1);
  //padding-bottom: 10px;
  .main-nav {
    list-style-type: none;
    display: none;
  }
  .nav-links {
    text-decoration: none;
    color: $color--font;
    font-size: 1.5rem;
    cursor: pointer;
  }
  .main-nav li {
    text-align: center;
    margin: 15px auto;
  }
  .logo {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-image: url('../images/logo.png');
    background-size: cover;
    background-position: center;
    margin-left: 2em;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 20px;
  }
  &-toggle {
    position: absolute;
    top: 30px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  .active {
    display: block;
    height: 200px;
    background: linear-gradient(
      90deg,
      rgba(222, 221, 246, 1) 0%,
      rgba(233, 73, 46, 1) 50%,
      rgba(231, 162, 29, 1) 100%
    );
    padding-top: 1em;
  }
}

.nav {
  font-size: 1.6rem;
  display: none;
  justify-content: space-evenly;
  width: 40%;
  list-style: none;
  .nav-btn {
    background-color: transparent;
    border: none;
    font-size: 1.3rem;
    color: $color--font;
  }
}
// Hero Section
.hero {
  position: relative;
  height: 100vh;
  background-image: url('../images/flag.jpg');
  background-size: cover;
  background-position: center center;
  background-blend-mode: difference;
  filter: sepia(20%);
  &--layer {
    background-color: rgba(140, 118, 118, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--wrapper {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5em;
  }
}

//Jumbotron
.jumbotron {
  font-size: 1.6rem;
  padding-top: 5em;
  padding-bottom: 5em;
  text-align: center;
  line-height: 1.2em;
  width: 100vw;
  background: rgb(205, 49, 22);
  background: linear-gradient(
    0deg,
    rgba(205, 49, 22, 1) 0%,
    rgba(235, 108, 69, 0.9556197478991597) 100%
  );
  div {
    margin-bottom: 1.5em;
  }
}

//Content
.content-container {
  background-image: url('../images/dark_wall.png');
  // background: rgb(31, 31, 31);
  // background: -moz-linear-gradient(
  //   90deg,
  //   rgba(31, 31, 31, 1) 0%,
  //   rgba(37, 24, 18, 1) 50%,
  //   rgba(36, 29, 17, 1) 100%
  // );
  // background: -webkit-linear-gradient(
  //   90deg,
  //   rgba(31, 31, 31, 1) 0%,
  //   rgba(37, 24, 18, 1) 50%,
  //   rgba(36, 29, 17, 1) 100%
  // );
  // background: linear-gradient(
  //   90deg,
  //   rgba(31, 31, 31, 1) 0%,
  //   rgba(37, 24, 18, 1) 50%,
  //   rgba(36, 29, 17, 1) 100%
  // );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f",endColorstr="#241d11",GradientType=1);
  &--wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(205, 49, 22, 0.4);
  margin-bottom: 2em;
  padding-bottom: 1em;
  transition: all 350ms ease-in-out;
  p {
    line-height: 2em;
  }
  &--text {
    width: 50%;
    max-width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
  }
  &--pic {
    width: 50%;
    filter: drop-shadow(0 0 0.75rem rgb(41, 41, 41));
  }
  &--heading {
    font-family: 'Ma Shan Zheng', cursive;
    color: $color--primary;
    font-size: 3.5rem;
  }
  &--sub-heading {
    display: inline-block;
    font-family: 'Ma Shan Zheng', cursive;
    font-size: 2.5rem;
    color: $color--primary;
    opacity: 0.7;
    text-align: center;
    margin-bottom: 1.5em;
    cursor: pointer;
    &:hover {
      color: $color--font;
      transform: scale(1.1);
    }
  }
  &__team {
    flex-direction: row-reverse;
  }
  &--paragraph {
    display: none;
    overflow: hidden;
    text-align: start;
  }
}

#team-text {
  margin-right: 0;
  margin-left: 2em;
}

//Motto
.motto {
  padding-bottom: 2em;
  font-size: 1.6rem;
  border-bottom: 1px solid rgba(205, 49, 22, 0.4);
  h1 {
    text-align: center;
  }
  p {
    line-height: 2em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 2em;
  }
  &--content {
    text-align: center;
  }
}

//Dragon
.dragon {
  height: 80vh;
  background-image: url('../images/handwriting.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

//Activoties
.activities {
  background-image: url('../images/dark_wall.png');

  text-align: center;
  font-size: 1.6rem;
  width: 100%;
  margin: 0 auto;

  h1 {
    margin-top: 1em;
    margin-bottom: 2em;
  }
  p {
    text-align: start;
    margin-bottom: 2em;
    line-height: 2em;
  }
  &--plan {
    position: relative;
  }
  &--new {
    position: relative;
    height: 90vh;
    padding: 3em 0;
    background-image: url('../images/concert.jpg');
    background-attachment: fixed;
    background-position: 15% 80%;
    background-size: cover;
    background-repeat: no-repeat;
    &__layer {
      padding-top: 5em;
      padding-bottom: 5em;
      background-color: rgba(55, 55, 55, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__wrapper {
      text-align: center;
    }
    h1 {
      margin: 1.5em auto;
      margin-top: 2em;
    }

    h3 {
      margin-bottom: 2em;
      display: inline-block;
      background-color: rgba(255, 217, 1, 0.7);
      font-size: 1.6rem;
      padding: 0.5em 1.5em;
      border-radius: 10px;
    }
    h4 {
      font-style: italic;
      font-size: 2rem;
      margin-bottom: 2em;
      color: rgb(213, 182, 5);
    }
    a {
      display: inline-block;
      margin-bottom: 2em;
    }
    p {
      width: 90%;
      margin: 2em auto;
    }
    &__title {
      font-style: italic;
      font-weight: bold;
      font-size: 5rem;
      color: rgb(244, 208, 2);
      font-family: 'Ma Shan Zheng', cursive;
    }
    &__subtitle {
      font-size: 2rem;
      color: rgb(244, 208, 2);
    }
  }
}

//Service
.service {
  padding: 2em 0;
  color: #fff;
  background: rgb(31, 31, 31);
  background: -moz-linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(37, 24, 18, 1) 50%,
    rgba(36, 29, 17, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(37, 24, 18, 1) 50%,
    rgba(36, 29, 17, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(31, 31, 31, 1) 0%,
    rgba(37, 24, 18, 1) 50%,
    rgba(36, 29, 17, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1f1f1f",endColorstr="#241d11",GradientType=1);
  text-align: center;
  font-size: 1.6rem;
  &--pic {
    margin-bottom: 2em;
    display: block;
  }
  &--pic-web {
    display: none;
  }
}

.download {
  h4 {
    margin-bottom: 2em;
    display: inline-block;
    background-color: rgba(106, 106, 106, 0.7);
    font-size: 1.6rem;
    padding: 0.5em 1.5em;
    border-radius: 10px;
  }
}

//Surpporters
.supporters {
  background: #fff;
  color: #505253;
  text-align: center;
  padding: 2em 0;
}
.supporter {
  flex: 1 1 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 50%;
}

.surpporter--wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10em;
}
.vpea {
  background-image: url(../images/vpea.jpeg);
}

.telecom {
  background-image: url(../images/telecom.jpeg);
}

.rbc {
  background-image: url(../images/rbc.png);
}

//footer
.footer {
  height: 300px;
  font-size: 1.5rem;
  background: rgb(226, 40, 9);
  background: -moz-linear-gradient(
    90deg,
    rgba(226, 40, 9, 1) 0%,
    rgba(236, 95, 28, 1) 54%,
    rgba(231, 162, 29, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(226, 40, 9, 1) 0%,
    rgba(236, 95, 28, 1) 54%,
    rgba(231, 162, 29, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(226, 40, 9, 1) 0%,
    rgba(236, 95, 28, 1) 54%,
    rgba(231, 162, 29, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e22809",endColorstr="#e7a21d",GradientType=1);
  @include flexColumn();
  justify-content: space-evenly;
}
.contact--container {
  width: 90vw;
  @include flexRow();
  justify-content: space-evenly;
  align-items: flex-end;
}
.social {
  font-size: 2rem;

  .wechat:hover {
    transform: scale(1.5);
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
  }
}
.social--links {
  width: 90vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;

  .fab {
    font-size: 3rem;
    color: $color--font;
    cursor: pointer;
    &:hover {
      transition: all 0.1s ease-in-out;
      transform: scale(1.2);
      color: $color--background;
    }
  }
  img {
    height: 50px;
    width: 50px;
  }
}

.is-visible {
  display: block;
  height: auto;
}

.active {
  display: block;
}

.button--top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: $color--primary;
  color: $color--font;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media screen and (max-width: 425px) {
  h1 {
    margin-top: 1.2em;
    font-size: 2rem;
  }
  h2 {
    margin-top: 1em;
    font-size: 1.5rem;
  }
  h4 {
    font-size: 0.8rem;
    margin-top: 1em;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .jumbotron {
    text-align: start;
    font-size: 1.2rem;
    h1 {
      text-align: center;
    }
    &--wrapper {
      width: 90%;
      margin: 0 auto;
    }
  }

  .content {
    &:nth-child(1) {
      padding-top: 2em;
    }

    flex-direction: column;
    width: 100%;
    height: auto;
    font-size: 1.2rem;
    &--text {
      width: 100%;
      min-width: 100%;
      margin: 0 auto;
      margin-bottom: 2em;
    }
    &--heading {
      font-family: 'Ma Shan Zheng', cursive;
      font-size: inherit;
      color: $color--font;
    }
    &--pic {
      width: 100%;
    }
    &--sub-heading {
      font-size: 1.7rem;
    }

    &--paragraph {
      font-size: 1.2rem;
    }
  }
  #team-text {
    margin-left: 0;
  }
  .motto {
    border-bottom: 1px solid rgba(205, 49, 22, 0.4);
    padding-bottom: 1.5em;
    p {
      width: 90%;
    }
  }
  .activities {
    h1 {
      font-size: 2rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.4rem;
      margin-bottom: 0.7em;
    }
    p {
      font-size: 1.2rem;
    }
    &--new {
      margin-top: 0;
      &__layer {
        padding-top: 3em;
        padding-bottom: 2em;
      }
      &__title {
        font-size: 3rem;
      }
      h3 {
        font-size: 1.3rem;
        margin-bottom: 2em;
      }
    }
  }
  .dragon {
    display: none;
  }
  .service {
    padding: 1em 0;
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.3rem;
    }
    &--pic {
      display: none;
    }
    &--pic-web {
      display: block;
    }
  }
  .supporters {
    padding: 0;
    h1 {
      margin-bottom: 0;
    }
  }
  .footer {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 768px) {
  .navbar {
    z-index: 10000;
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    align-items: center;
    &-toggle {
      display: none;
    }
  }

  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }
  .nav {
    display: flex;
  }
}

li {
  position: relative;
  color: inherit;
  text-decoration: none;
  line-height: 1em;
  &:before,
  &:after {
    content: '';
    position: absolute;
    transition: transform 0.3s ease;
  }
}
.hover-effect {
  padding: 0.5em;
  display: inline-block;
  overflow: hidden;
  &:before,
  &:after {
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.7);
  }
  &:before {
    bottom: 0;
    transform: translateX(-100%);
  }
  &:after {
    top: 0;
    transform: translateX(100%);
  }
  &:hover:before,
  &:hover:after {
    transform: translateX(0);
  }
}
.history,
.team,
.mission,
.history-pic,
.team-pic,
.mission-pic {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.visible {
  opacity: 1;
}
